.email-side {
  width: 40px;
  position: fixed;
  bottom: 0;
  right: 40px;
  z-index: 10;
  opacity: 0;

  &.anim {
    animation: fade-in 0.5s var(--easing) 1.8s forwards;
  }

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
  }

  a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    color: var(--light-slate);
    transition: var(--transition);

    &:hover {
      color: var(--yellow);
      transform: translateY(-3px);
    }
  }
}

@media (max-width: 1080px) { .email-side { right: 20px; } }
@media (max-width: 768px)  { .email-side { display: none; } }
